ul.nav {
  width:100%;
  margin:0 auto;
  padding:0;
  list-style:none;
  background-color:#62564A;
  text-align:center;
  font-family: sans-serif; 
}
.nav ul li { 
  display:inline-block;
  width:33%;
  margin:0;
  padding:0;
}

.nav a {
  text-align:center;
  padding:12px 0 13px 0;
  margin:0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display:block;
}
.nav a:hover { 
  background:#A26A42;
  border:none;
}

ul.nav li:first-child a{
  border:none;
}
ul.nav li:last-child a {
  border:none;
}​

#photoBox {
  align-content: center;
}

#images {
  padding-bottom: 40px;
}

img {
  width: 100%;
  height: 100%;
}

.boxes {
  position: relative;
  width: 100%;    
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: 100%;
  border: 5px solid #d9d9d9;
  border-radius: 10px; 
  margin: 10px;
}

#box1 {
  background-color: red;
}

#box2 {
  background-color: blue;
}

/* #box1 {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-size: 100%;
  border: 5px solid #d9d9d9;
  border-radius: 10px; 
  margin: 10px;
} */

